@import url("../../node_modules/bulma/css/bulma.css");
@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("./private_route.css");
@import url("antd/dist/antd.css");
@import url("../../node_modules/sweetalert2/dist/sweetalert2.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.cursor-pointer {
  cursor: pointer;
}

.text-line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-line-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-primary {
  background-color: #f59432 !important;
  font-weight: bold;
}

.is-secondary {
  background-color: #3596b5 !important;
  font-weight: bold;
  color: white;
}

.button {
  border-radius: 3rem;
  padding: 0rem 3rem 0rem 3rem;
}

.title {
  color: #002d47 !important;
}

.title-icon {
  width: 2rem;
  height: 2rem;
}

.input {
  max-width: 20rem !important;
  background-color: #f1f1f0 !important;
  border-radius: 1rem !important;
  border: unset !important;
  color: #878e99 !important;
  font-weight: bold !important;
}

.label {
  color: #375784;
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.textarea {
  background-color: #f1f1f0 !important;
  border-radius: 1rem !important;
  border: unset !important;
  color: #878e99 !important;
}

@media screen and (max-width: 768px) {
  .is-mobile-direction-column {
    flex-direction: column !important;
  }
}


.table-answers{
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
}
.table-answers thead {
  background-color:#296073;
  color:#fff !important;
}
.table-answers thead th {
  color:  #f8f8f8f8 !important;
}
.table-answers tbody tr {
border-bottom: 1px solid #b8b2b2 !important;
}